@font-face {
  font-family: 'noto-sans-kr';
  src:
    url('NotoSansKR-Light.woff2')
      format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'noto-sans-kr';
  src:
    url('NotoSansKR-Regular.woff2')
      format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'noto-sans-kr';
  src:
    url('NotoSansKR-Medium.woff2')
      format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'noto-sans-kr';
  src:
    url('NotoSansKR-SemiBold.woff2')
      format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: 'noto-sans-kr';
  src:
    url('NotoSansKR-Bold.woff2')
      format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

.noto-sans-kr {
  font-family: 'noto-sans-kr', sans-serif;
}
